{% extends "./Common/layout_view.html" %}
{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ booking.movie.detailbanneraddress }}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<div class="container mt-5">
    <input type="hidden" id="movieid" value="{{ booking.movie.id }}">
    <input type="hidden" id="screeningid" value="{{ booking.screening.id }}">

    <h1 class="text-center title">{{ booking.movie.title }}</h1>
    <h2 class="text-center title">{{ booking.screening.date }} {{ booking.screening.starttime}}</h2>
    <h2 class="text-center subtitle">Cinema Seat Selection</h2>
    <form method="POST" action="{{ url_for('checkout',movieid=booking.movie.id, screeningid=booking.screening.id) }}">
        <div class="text-center">
            <button id="checkout" class="btn btn-primary mt-2">Checkout</button>
        </div>
    
        <div class="row mt-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="checkboxDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Available Seats
                </button>
                <div class="dropdown-menu" aria-labelledby="checkboxDropdown">
                    <form>
                        {% for seat_key, seat_info in seats.items() %}
                        <label class="dropdown-item">
                            <input type="checkbox" name="{{ seat_key }}" value="{{ seat_key }}"> Row {{ seat_info['row'] }}, Seat {{ seat_info['seat'] }}
                        </label>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>    
    </form>
    
    
    
</div>


<style>
    .container {
        text-align: center;
    }
    .seat {
        width: 30px;
        height: 30px;
        margin: 5px;
        background-color: #ccc;
        border: 1px solid #777;
        cursor: pointer;
    }
    .selected {
        background-color: #007BFF;
        color: #fff;
    }
    .occupied {
        background-color: #FF0000;
        color: #fff;
    }
    .available {
        background-color: #ccc;
    }
    .legend {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
    } 
    .title {
            font-size: 24px;
            font-weight: bold;
    }
    .subtitle {
        font-size: 20px;
    }
</style>

{% endblock %}